/*body {
    background-color: #c1cfe1;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .header {
    font-size: 50px;
    color: #007bff;
    text-align: center;
  }
  
  .paragraph {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }
  
  .segmentHome {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 40px;
  }
  
  .personContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
  } 
  
  .personImage {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
  } 
  
   .personInfo {
    font-size: 16px;
    margin-top: 10px;
  }
   */