.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.custom-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.custom-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* ทำให้ Container ตรงกลาง */
    height: 300px;
    width: 400px;
}
  
.custom-form-button {
    margin-top: 20px;
    align-self: center;
    width: 100%;
    font-size: 2em; /* ทำให้ขนาดเพิ่มขึ้น 2 เท่า */
    text-align: center;
    line-height: 1.5;
}

.custom-form-container {
    font-size: 2em; /* ทำให้ขนาดเพิ่มขึ้น 2 เท่า */
}
